.welcome-card {
  border: 0;
  margin: 0;
  padding-bottom: 10px;
  border-radius: 0;

  & ion-img {
    max-height: 35vh;
    overflow: hidden;
  }
}

.card-content-ios {
  padding-top: 10px;
  padding-bottom: 10px;
}

ion-card-subtitle {
  font-size: 15px;
}

p {
  font-size: 16px;
}







