<app-ion-header [title]="'Sergi Martínez'"></app-ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/sergi.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Software Developer</ion-card-subtitle>
        <ion-card-title>Sergi Martínez</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
         {{'home.welcome' | translate}}
          features and components. Check out some of the resources below for next steps.
        </p>
      </ion-card-content>
    </ion-card>
</ion-content>
