<app-ion-header [title]="'Home'"></app-ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/sergi.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Software Developer</ion-card-subtitle>
        <ion-card-title>Sergi Martínez</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p [innerHTML]="'home.welcome' | translate">
        </p>
      </ion-card-content>
    </ion-card>
    <p [innerHTML]="'home.look' | translate">
    </p>
</ion-content>
